<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
   <context-param>  
       <param-name>log4jConfigLocation</param-name>  
        <param-value>/WEB-INF/log4j.properties</param-value>  
    </context-param> 
	
	
	<!-- 1 加载spring配置文件，classpath关键字特指类路径下加载 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>	
		<param-value>
			classpath:applicationContext.xml
		</param-value>
	</context-param>
	
	<!-- 负责启动spring容器的监听器，将 引用   1中的上下文参数获得spring配置文件地址-->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!-- springMVC主控Servlet -->
	<servlet>
		<servlet-name>baobaotao</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- spring MVC处理的URL -->
	<servlet-mapping>
		<servlet-name>baobaotao</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
